<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Weeking"
        tools:targetApi="31">
        <activity
            android:name=".workers.GaleriaEventos"
            android:exported="false" />
        <activity
            android:name=".workers.MapaActivity"
            android:exported="false" />
        <activity
            android:name=".workers.VistaPrincipal"
            android:exported="false" />
        <activity
            android:name=".workers.Plin"
            android:exported="false" />
        <activity
            android:name=".workers.Stadistics"
            android:exported="false" />
        <activity
            android:name=".workers.Listchats"
            android:exported="false" />
        <activity
            android:name=".workers.Contrasena3Activity"
            android:exported="false" />
        <activity
            android:name=".workers.Cotrasena2Activity"
            android:exported="false" />
        <activity
            android:name=".workers.ContrasenaRecuperacion_Activity"
            android:exported="false" />
        <activity
            android:name=".workers.RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".workers.Lista_don"
            android:exported="false" />
        <activity
            android:name=".workers.Don_ve"
            android:exported="false" />
        <activity
            android:name=".workers.Don_recha"
            android:exported="false" />
        <activity
            android:name=".workers.Verificacion_don"
            android:exported="false" />
        <activity
            android:name=".workers.Verificacion_donacion"
            android:exported="false" />
        <activity
            android:name=".workers.Pago"
            android:exported="false" />
        <activity
            android:name=".workers.Transferencia"
            android:exported="false" />
        <activity
            android:name=".workers.Yape"
            android:exported="false" />
        <activity
            android:name=".workers.VistaApoyosActivity"
            android:exported="false" />
        <activity
            android:name=".workers.ActividadesActivity"
            android:exported="false" />
        <activity
            android:name=".workers.EventosActivity"
            android:exported="false" />
        <activity
            android:name=".workers.VistaDelegadoGeneralActivity"
            android:exported="false" />
        <activity
            android:name=".workers.VistaDelegadoActividadActivity"
            android:exported="false" />
        <activity
            android:name=".workers.ApoyosActivity"
            android:exported="false" />
        <activity
            android:name=".workers.VistaEventoActivity"
            android:exported="false" />
        <activity
            android:name=".workers.NuevoEventoActivity"
            android:exported="false" />
        <activity
            android:name=".workers.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".workers.StatusActivity"
            android:exported="false" />
        <activity
            android:name=".workers.PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".workers.Donacion"
            android:exported="false" />
        <activity
            android:name=".workers.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>