<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Weeking"
        tools:targetApi="31">
        <activity
            android:name=".ImagesActivity"
            android:exported="false" />
        <activity
            android:name=".workers.GaleriaUploadActivity"
            android:exported="false" />
        <activity
            android:name=".workers.alu"
            android:exported="false" />
        <!--
activity
            android:name=".workers.Alumno"
            android:exported="false" /
        -->
        <activity
            android:name=".workers.ListaDonacionesActivity"
            android:exported="false" />
        <activity
            android:name=".notificaciones"
            android:exported="false" />
        <activity
            android:name=".workers.ActividadActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workers.NuevaActividadActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB0sIc6d91Jbx1VzFdnUjWAqUtMQl_Tr3Q" />

        <activity
            android:name=".workers.imagen_completa"
            android:parentActivityName=".workers.GaleriaEventos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workers.GaleriaEventos"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workers.MapaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workers.VistaPrincipal"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workers.Plin"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workers.Stadistics"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workers.Listchats"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workers.Contrasena3Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workers.Cotrasena2Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workers.ContrasenaRecuperacion_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workers.RegistroActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workers.Lista_don"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workers.Don_ve"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workers.Don_recha"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workers.Verificacion_don"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workers.Verificacion_donacion"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workers.Pago"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workers.Transferencia"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workers.Yape"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workers.VistaApoyosActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workers.ActividadesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workers.EventosActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workers.VistaDelegadoGeneralActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workers.VistaDelegadoActividadActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workers.ApoyosActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workers.VistaEventoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workers.NuevoEventoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workers.AccountActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workers.StatusActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workers.PerfilActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workers.Donacion"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workers.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.weeking.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB0sIc6d91Jbx1VzFdnUjWAqUtMQl_Tr3Q" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>